@import './animation.css';

div#about.section {
    background:white;
}

div#about div.block.about {
    display:flex;
    flex-direction: column;
    align-items: flex-start;
    background:white;
    position:relative;
    /*background:linear-gradient(0deg, rgba(202, 202, 202, 0.3) 0%, rgba(235,235,235,.5) 15%, rgba(255, 255,255,.8) 35%, rgba(255,255,255,.9) 100%); 
    */
    background:rgba(255,255,255,0.75);
}

div#about div.block.about.reverse {
    flex-direction: column;
}

div#about div.overlay {
    position:absolute;
    height:100%;
    width:100%;
    overflow:hidden;
    transform: translate(-3vw, -2vh);
}

div#about div.overlay div.row {
    display:flex;
}


div#about div.overlay div.drop {
    margin:10px 0;
    font-size:4em;
    color:rgba(22,58,87,0.2);
    transform-origin: center center;
    position:relative;
    filter:blur(1px);
    opacity:.5;
}


div#about div.overlay div.drop:nth-child(2n+2) {
   transform:translateY(.8em);
}


/*
div#about div.overlay div.drop:nth-child(1) {
    animation: rotate 15s linear infinite;
    animation-delay: 1s; 
    font-size:4em;

}

div#about div.overlay div.drop:nth-child(3) {
    animation: rotate-back 40s linear infinite;
    animation-delay: 2s; 
    font-size:5em;
    top:30px;
    left:-20px;

}

div#about div.overlay div.drop:nth-child(2) {
    animation: rotate-reverse 28s linear infinite;
    animation-delay: 3s; 
    font-size:2em;
    top:50px;
    left:-10px;
    margin:0 10%;

}

div#about div.overlay div.drop:nth-child(4) {
    animation: rotate-back-reverse 22s linear infinite;
    animation-delay: 1s; 
    font-size:4em;

}

div#about div.overlay div.drop:nth-child(5) {
    animation: colorize 22s linear infinite;
    animation-delay: 1s; 
    font-size:4em;
    color:rgba(125,48,53,0.7);

}

div#about div.overlay div.row.three div.drop:nth-child(2), 
div#about div.overlay div.row.one div.drop:nth-child(3),
div#about div.overlay div.row.nine div.drop:nth-child(2),
div#about div.overlay div.row.eight div.drop:nth-child(4),
div#about div.overlay div.row.six div.drop:nth-child(3)
 {
    animation: scale 20s linear infinite;
    animation-delay: 2s;
    color:rgba(5,58,43,0.7);
}

div#about div.overlay div.row.one div.drop:nth-child(1),
div#about div.overlay div.row.four div.drop:nth-child(3),
div#about div.overlay div.row.eleven div.drop:nth-child(3),
div#about div.overlay div.row.six div.drop:nth-child(2),
div#about div.overlay div.row.six div.drop:nth-child(5),  {
    animation: left-right 30s linear infinite;
    animation-delay: 0s; 

    color:rgba(5,58,43,0.7);
}

div#about div.overlay div.row.three div.drop:nth-child(1),
 div#about div.overlay div.row.seven div.drop:nth-child(2),
 div#about div.overlay div.row.ten div.drop:nth-child(1),
 div#about div.overlay div.row.siz div.drop:nth-child(4) 
 {
    animation: up-down 7s linear infinite;
    animation-delay: 1s; 
}


div#about div.overlay div.row.two div.drop:nth-child(1),
div#about div.overlay div.row.four div.drop:nth-child(2) 
{
    color: rgba(97,80,20,0.7);
    animation:colorize 10s linear infinite;
    animation-delay:0s;
}  */



div#about div.icon-wraper {
    text-align: center;
    width:100%;
    font-size:5em;
    transform: translateY(-11vh);
    height:7vh;
}


div#about div.dets-wraper {
    line-height: 1.7;
} 

div#about div.dets-wraper h2 {
    text-align:center;
}

@media only screen and (min-width: 769px) {
    div#about div.block.about {
        align-items:center;
        flex-direction:row;
    }

    div#about div.block.about.reverse {
        flex-direction:row-reverse;
    }

    div#about div.icon-wraper {
        font-size:1em;
        transform: translateY(0);
        height:auto;
        flex:1;
    }
    

    div#about .icon-wraper i {
        font-size:11em;
    }

    div#about div.dets-wraper {
        padding: 0 10vw 0 0;
        flex:1;
    }

    div#about div.dets-wraper h2 {
        text-align:left;
    }

    div#about div.block.about.reverse div.dets-wraper {
        padding:0 0 0 5vw;
    }
}