div#banner i.i-1 {
	top:25%;
	left:8%;
	opacity: 0.2;
}

div#banner i.i-2 {
	top:69%;
	left:11%;
}

div#banner i.i-3 {
	top:25%;
	left:15%;
	opacity: 0.2;
}

div#banner i.i-4 {
	top:63%;
	left:23%;
	opacity: 0.2;
}

div#banner i.i-5 {
	top:30%;
	left:25%;
}

div#banner i.i-6 {
	top:50%;
	left:33%;
}

div#banner i.i-7 {
	top:25%;
	left:40%;
}

div#banner i.i-8 {
	top:68%;
	left:42%;
}

div#banner i.i-9 {
	top:55%;
	left:49%;
}

div#banner i.i-10 {
	top:35%;
	right:5%;
}

div#banner i.i-11 {
	top:60%;
	right:40%;
}

div#banner i.i-12 {
	top:30%;
	right:30%;
}

div#banner i.i-13 {
	top:70%;
	right:33%;
}

div#banner i.i-14 {
	top:35%;
	right:23%;
}

div#banner i.i-15 {
	top:22%;
	right:42%;
}

div#banner i.i-16 {
	top:25%;
	right:18%;
}

div#banner i.i-17 {
	top:55%;
	left:3%;
}

div#banner i.i-18 {
	top:65%;
	right:10%;
}
