div#banner i.i-1 {
	top:2vh;
	left:5vw;
}

div#banner i.i-2 {
	top:14vh;
	left:10vw;
}

div#banner i.i-3 {
	top:7vh;
	left:15vw;
}

div#banner i.i-4 {
	top:3vh;
	left:20vw;
}

div#banner i.i-5 {
	top:10vh;
	left:25vw;
}

div#banner i.i-6 {
	top:3vh;
	left:33vw;
}

div#banner i.i-7 {
	top:2vh;
	left:54vw;
}

div#banner i.i-8 {
	top:15vh;
	left:40vw;
}

div#banner i.i-9 {
	top:8vh;
	left:39vw;
}

div#banner i.i-10 {
	top:14vh;
	right:8vw;
}

div#banner i.i-11 {
	top:14vh;
	right:40vw;
}

div#banner i.i-12 {
	top:8vh;
	right:35vw;
}

div#banner i.i-13 {
	top:12vh;
	right:30vw;
}

div#banner i.i-14 {
	top:4vh;
	right:25vw;
}

div#banner i.i-15 {
	top:9vh;
	right:20vw;
}

div#banner i.i-16 {
	top:2vh;
	right:15vw;
}

div#banner i.i-17 {
	top:9vh;
	left:3vw;
}

div#banner i.i-18 {
	top:4vh;
	right:5vw;
}