div#banner i.i-1 {
	top:4vh;
	left:5vw;
	opacity: 0.2;
}

div#banner i.i-2 {
	top:15.5vh;
	left:10vw;
}

div#banner i.i-3 {
	top:5vh;
	left:15vw;
	opacity: 0.2.5;
}

div#banner i.i-4 {
	top:14vh;
	left:22vw;
}

div#banner i.i-5 {
	top:6vh;
	left:25vw;
}

div#banner i.i-6 {
	top:3vh;
	left:33vw;
}

div#banner i.i-7 {
	top:4vh;
	left:48vw;
}

div#banner i.i-8 {
	top:15vh;
	left:40vw;
}

div#banner i.i-9 {
	top:14vh;
	left:31vw;
}

div#banner i.i-10 {
	top:14vh;
	right:5vw;
}

div#banner i.i-11 {
	top:12vh;
	right:40vw;
	margin: 0 2em;
}

div#banner i.i-12 {
	top:3vh;
	right:33vw;
}

div#banner i.i-13 {
	top:14vh;
	right:36vw;
}

div#banner i.i-14 {
	top:5vh;
	right:25vw;
}

div#banner i.i-15 {
	top:15vh;
	right:20vw;
}

div#banner i.i-16 {
	top:4vh;
	right:15vw;
}

div#banner i.i-17 {
	top:12vh;
	left:3vw;
}

div#banner i.i-18 {
	top:4vh;
	right:5vw;
}
