div#body {
	overflow:hidden;
}

p.tag {
	font-size:1em;
}

p.sub {
	font-style: italic;
	opacity: .8;
}

div#header {
	background-color: #163a57;
  	position: fixed;
  	top: 0;
  	width: 100%;
  	height: 55px;
  	overflow: hidden;
	z-index:11;
	color: white;
	overflow:hidden;
	padding:0 3%;
	display:flex;
}

div#header div#logo-section {
  /*  margin: 5px 5px 0 0 ; */
  	border-right: 3px solid white;
    padding: 0 5px 0 0;
    max-width:70px;
    font-size:.8em;
    flex-grow: 1;
    flex-wrap: nowrap;
}

div#header div#nine-box-section {
    flex-grow: 1;
    align-self: center;
    font-size:1.4em;
}


div#header div#nine-box-section i.fas:hover {
	cursor:pointer;
	/*color: #0a6f0a; */ 
	color: #5f9a29;
	transform: scale(1.2);
	transition: 1s rotate;

}

div#header div#name-section {
	margin-top:10px;
	margin-left:10px;
	font-weight: bold;
	font-size: .8em;
	flex-grow: 4;
}

div#header div#menu-section {
	position: fixed;
	height:100%;
	float:right;
	padding:10px;
	background: rgba(22,58,87,0.8);
	color:white;
	width:100%;
	left:100%;
	top:50px;
	border-left: 3px solid #163a57;
}

div#header div#menu-section.show {
	display:block;
	left: 0;
	transition: left 1s cubic-bezier(0.5, 0.2, 0.3, 1.0);
}

div#header div#menu-section.hide {
	transition: left 1s cubic-bezier(0.5, 0.2, 0.3, 1.0);
}

div.menu-logo-wrap {
    border: 3px solid #0a6f0a;
    width: 45px;
    height:45px;
    border-radius:10%;
    text-align: center;
    transform: rotate(45deg);
    position: relative;
    padding: 10px;
    margin: 20px 10%;
}

div.menu-logo-wrap div.text { 
	transform: rotate(-45deg);
	font-weight:bold;
} 

div#header div#logo-section div.menu-logo-wrap {
	margin: 10px 20%;
	padding:3px;
	width:20px;
	font-size:.65em;
	height:20px;
}



div#header div#menu-section li {
	list-style-type: none;
	font-weight: bold;
	line-height:2;
	border-left: 3px solid rgba(22,58,87,0);
	padding:0 5px;
	font-size:0.8em;
}

div#header div#menu-section li:hover {
    cursor: pointer;
    color: #0a6f0a; 
    background:white;
    width:250px;
   	/*border-left: 3px solid #1ebd1d; 
   	border-left: 3px solid #04a704;  */
  
}

div#banner {
  	position: absolute;
	height:12vh;
  	z-index: 1;
	width:100%;
	font-size:1em;
	display:flex;
	flex-direction: column;
	text-align:center;
 	background-size: initial;
  	font-weight: bold;
  	padding:25px 0;
}

div#banner i {
	position:absolute;
	opacity: .3;
	color: white;
	font-size:.7em;
}

div#banner p {
	margin: 1vh;
}

div#banner p.tag {
    font-size:1em;
    color:white;
    font-weight: bold;
}


div#guts-section {
    position: absolute;
    top: 40px;
	width:100%;
}

div#guts-section div.section {
    padding: 5% 0;
    min-height: 100vh;
    background-color: #eee;
}

div#guts-section div.section.show .box {
	animation : flip 1.5s  ease-out;
}

div#guts-section div#the-guts {
    position: relative;
    padding-top:calc(12vh + 43px);
    padding-bottom: 10px;
    width:100%;
    overflow:hidden;
}

div#guts-section div#the-guts div#home {
    width: 100vw;
    background-size: cover;
    position: relative;
    text-align:center;
}

div#guts-section div#home.section div.box {
	margin:5%;
}

div#guts-section div.box {
    background: white;
    border-radius: 10px;
    min-height: 40vh;
    color: black;
}

div#guts-section div.box.mini {
	min-height: 10vh;
}

div#guts-section div.box p {
    padding: 2%;
}

div#guts-section div#home div.box p {
    padding: initial;
    margin:15px;
}

div#guts-section .block.c33 {
    background: white;
    margin: 5vh 5% 15vh 5%;
    text-align: center;
    border-radius: 10px;
}


div#guts-section #the-guts .block .circle-wrap {
    position: relative;
    border-radius: 10%;
    background: #0a6f0a;
    background: -webkit-radial-gradient(center, ellipse cover, #548725 0%,#006d00 100%); 
    color: white; 
    padding: 25px; 
    top: -10vh;
    display:flex;
    flex-direction: column;
    flex-wrap: wrap;
    color:white;
    height:70px;
    width:70px;
    transform:rotate(45deg);
}

div#guts-section #the-guts .block .circle-wrap .text {
	height:100%;
	transform: rotate(-45deg);
	padding:5%;
}

div#guts-section #the-guts .info-wrap {
	position: relative;
	top: -5vh;
	overflow:hidden;
}



div#footer {
	background-color: #163a57;
	position: fixed;
	bottom:0;
	width:100%;
	z-index:10;
	color:white;
	font-size: .5em;
	text-align:center;

}

@media only screen and (min-width: 768px) {

	div#header div#logo-section {
		max-width:90px;
		font-size:1em;
	}

	div#header div#name-section {
		font-size:1em;
		flex-grow:8;
	}

	div#header div#menu-section.show {
		left:70%;
	}

	div#the-guts #home .box {
		padding:1% 5%;
	}

	div#guts-section div#banner {
		font-size:1.5em;
	}


	div#guts-section div.section {
		margin: 0;
		padding: 0;
	}

}

@keyframes flip {
	/*from { transform: rotateX(0); }
	50% { transform:rotateX(180deg); }
	100% { transform: rotateX(360deg) } */
	from {transform : scale(0);}
	50% { transform: scale(1.2); }
	100% { transform: scale(1); }
}
