body {
    background: white;
    font-size: 1.2em;
    font-family: "Proxima Nova",Arial,sans-serif;
    line-height: 1.5;
    color: #333;
    margin:0;
}

body.overflowhidden {
  overflow:hidden;
}

a {
    color: #333;
    font-weight: bold;
    text-decoration: none;
}

a:hover {
  color: #0a6f0a;
  text-decoration: underline;
}

button {
  border-radius: 10px;
  width: 10em;
  border: none;
  padding: 5px;
}

button:hover {
  cursor: pointer;
  opacity: .8;
}

.v-text-top {
  vertical-align: text-top;
}

pre {
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size:1em;
}


pre code:before {
    
    font-variant: small-caps;
    background: #aaa;
    color: white;
    padding: 0 5px;
    border-radius: 15%;
}

pre.html code:before {
  content: "html\A";
}

pre.css code:before {
  content: "css\A";
}

pre.js code:before {
  content: "js\A";
}

.min-height-50 {
  min-height:50px !important;
}

hr {
  margin:30px 0;
}

.hidden {
	display: none;
}

.mobile-hidden {
  display:none !important;
}

.show {
	display:block;
}

.align-left {
  text-align:left;
}

.align-center {
  text-align:center;
}

.align-right {
  text-align:right;
}

/*#the-guts i {
    margin: 0 5px;
} */

.row-wrap {
  display:block;
}

.row-wrap .c33, .row-wrap .c5, .row-wrap .c100 {
  width: auto;
  margin: 2% 0;
  padding: 0 10px;
  min-height:200px;
  background: white;
  font-size: 0.8em;
  overflow:hidden;
  min-width:95%;
}

.row {
    width: 95%;
    position: relative;
 /*   left:3%; */
}

.row .col.name {
    width: 90%;
    float: left;
    margin: 10px 20px;
}

.row .col.value {
    width: 90%;
    margin: 10px 30px 10px 20px;
    text-align: left;
    float:left;
}

.flex {
  display:block;
  width:100%;
  flex-wrap:wrap;
}


.flex-half {
  flex:.5;
}

.flex-one {
  flex:1;
}

.flex-two {
  flex:2;
}

@media only screen and (min-width: 768px) {
  .flex {
    display:flex;
  }
}

.full-width {
  width:90%;
  padding: 1% 5%;
}

.half-width {
  width:100%;
  padding: 1%;
}

@media only screen and (min-width: 768px) {
  .half-width {
    width:50%;
  }
}

.desktop-space {
  display:none;
}

.mobile-space {
  display: block;
  clear: both;
}

.mobile-space-normal {
  height:30px;
}

.desktop-space-normal {
  height: 20px;
}

.mobile-space-large, .desktop-space-large  {
  height:50px;
}

.mobile-space-small, .desktop-space-small {
  height:15px;
}

.title {
    border-bottom: 1px solid #ccc;
    font-size:1.2em;
}

li.nobullet {
  list-style-type:none;
  margin-left:-20%;
}

.m-left-50 {
  margin-left:-50%;
}

.blue-grandient {
    background: rgba(22, 58, 87, .5);
    background: -moz-linear-gradient(51deg, rgba(22,58,87,0.6) 1%, rgba(22,58,87,0.4) 100%);
    background: -webkit-linear-gradient(51deg, rgba(22,58,87,0.6) 1%, rgba(22,58,87,0.4) 100%);
    background: linear-gradient(51deg, rgba(22,58,87,0.6) 1%, rgba(22,58,87,0.4) 100%);

}

.green-grandient {
  background: #4D7F1F;
background: -webkit-radial-gradient(center, #4D7F1F, #015901);
background: -moz-radial-gradient(center, #4D7F1F, #015901);
background: radial-gradient(ellipse at center, #4D7F1F, #015901);
}


.box-shadow {
  box-shadow: 0px 3px 11px 3px rgba(202,202,202,0.75);
}

@media only screen and (min-width: 768px) {

  .mobile-space {
    display:none;
  }

  .mobile-hidden {
    display:block !important;
  }

  .desktop-space {
    display: block;
    clear:both;
  }

  .row-wrap {
    display:flex;
    margin: 2% 0;
  }

  .row-wrap .c33, .row-wrap .c5, .row-wrap .c100 {
    margin: 1% 5%;
    font-size:1em;
  }

  .row-wrap .c33 {
    width:33%;
    min-width:25%;
  }

  .row-wrap .c5 {
    width:55%;
    min-width:25%;
  }

  .border-radius-0 {
    border-radius: 0px;
  }

  .border-radius-5 {
    border-radius: 5px;
  }

  .rotate-180 {
    transform: rotate(180deg);
  }

  .flex.max-width-1200 {
    max-width:1200px;
  }

  pre {
    font-size:0.7em;
  }
}
