body {
    background: #eee;
    font-size: 1.4em;
    font-family: "Proxima Nova",Arial,sans-serif;
    line-height: 1.5;
    color: #333;
    margin:0;
}

body.overflowhidden {
  overflow:hidden;
}

a {
    color: black;
    font-weight: bold;
    text-decoration: none;
}

a:hover {
  color: #0a6f0a;
  text-decoration: underline;
}


.hidden {
	display:none;
}

.show {
	display:block;
}

#the-guts i {
    margin: 0 5px;
}

.row-wrap {
  display:block;
}

.row-wrap .c33, .row-wrap .c5 {
  width: 85%;
  margin: 5%;
  padding: 0 10px;
  min-height:200px;
  background: white;
  font-size: 0.8em;
}

.title {
    border-bottom: 1px solid #ccc;
    font-size:1.2em;
}

li.nobullet {
  list-style-type:none;
}

.box-shadow {
  box-shadow: 0px 3px 11px 3px rgba(202,202,202,0.75);
}

@media only screen and (min-width: 768px) {
  .row-wrap {
    display:flex;
    margin: 5% 0;
  }

  .row-wrap .c33 {
    width:33%;
    margin: 1% 5%;
    font-size:1em;
  }

  .row-wrap .c5 {
    width:55%;
    margin: 1% 5%;
    font-size:1em;
  }
}
