/* kevin-yellow : fee201 */
/* Hightlight-me-blue : 0173fe */
/* come on over yellow : fee201  */

body {
    background: #fff;
    font-size: 1.4em;
    font-family: "Proxima Nova",Arial,sans-serif;
    line-height: 1.5;
    color: #333;
    margin:0;
    
}

.hidden {
	display:none;
}

.show {
	display:block;
}

