/* kevin-yellow : fee201 */
/* Hightlight-me-blue : 0173fe */
/* come on over yellow : fee201  */

body {
    background: #e9e9e9;
    font-size: 1.4em;
    font-family: sans-serif;
    line-height: 1.5;
    color: #eee;
    margin:0;
    background-image: url("https://digitalkdogg.github.io/src/includes/img/texture-bg.png");
}

.hidden {
	display:none;
}

.show {
	display:block;
}

button {
	background: #0173fe;
    background: linear-gradient(140deg, rgba(1,115,254,1) 0%, rgba(1,115,204,1) 35%, rgba(1,153,255,1) 100%);
    color:white;
    border-radius: 10px;
    padding: 10px;
    border: none;
}

button:hover {
	cursor : pointer;
	opacity: .7;
}

i.fas, i.far {
    font-family: "FontAwesome";
    font-style: normal;
}

div#header {
    height: 210px;
    background-color: #0173fe;
    background-image: url('https://digitalkdogg.github.io/src/includes/img/meoej.jpg');
    background-repeat: repeat-x;
    background-size:cover;
    padding-top:0;
    padding-bottom:0;
    overflow:hidden;
}

div#header div#active-menu-item {
	display:none;
}

div#header.scrolled {
    position: fixed;
    height: 50px;
    overflow: hidden;
    z-index:10;
    width:100%;
}

div#header.scrolled div.email, div#header.scrolled div.phone {
	display: none;
}

div#header div#menu-container {
    float: left;
}

div#header div#title-container {
    float: right;
    background:#fee201;
    width: 88%;
    border-bottom-left-radius: 10px;
    padding:5px;
    color:black;
    display:flex;
    flex-direction: row;
    overflow: hidden;
}

div#header.init div#logo-container {
	float:left;
	height:100px;
    font-size: calc(14px + (30 - 14) * ((100vw - 1px) / (1600 - 300)));
	position: relative;
	top:30px;
	font-weight: bold;
	flex-grow:1;
	text-align: center;
}

div#header.scrolled div#logo-container {
	font-size:.8em;
	margin-top: 5px;
}

div#header.init div#text-container {
	height: 100px;
}

div#header div#text-container {
	font-size:.8em;
	padding-left:5px;
	border-left: 1px solid #333;
	flex-grow:5;
}

div#header.scrolled div#text-container {
	height: 50px;
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
	padding-top:5px;
}

div#header div#text-container div#title {
	font-weight: bold;
}

div#header div#text-container a {
    color: black;
    text-decoration: underline;
    font-size:.8em;
}

div#header div#float-container {
	float:right;
	opacity:.7;
    font-size: calc(40px + (50 - 14) * ((100vw - 30px) / (1600 - 300)));
	position: absolute;
	right:5%;
	flex-grow:1;
}

div#header div#float-container i.rotating {
    -webkit-animation: rotating 10s linear infinite;
    -moz-animation: rotating 10s linear infinite;
    -ms-animation: rotating 10s linear infinite;
    -o-animation: rotating 10s linear infinite;
    animation: rotating 10s linear infinite;
}

div#header.scrolled div#float-container {
	font-size:1.2em;
}

div#header.scrolled div#float-container i:before {
    content: "\F013";
} 

div#header div#icon-container {
    top: 20px;
    position: relative;
    display: flex;
    flex-direction: row;
    float:left;
    margin:0 10px;
    width:100%;
    height:40px;
    overflow: hidden;
    opacity: .7;
}

div#header.scrolled div#icon-container {
	display: none;
}

div#header div#icon-container div {
	flex-grow:5;
}

div#header div#desktop-menu {
    display: none;
}

div#header div#mobile-menu-list {
    display: none;
}

div#header div#mobile-menu-box {
    width: 25px;
    height: 30px;
    border: 2px solid white;
    margin:25%;
    border-radius:5px;
}

div#header #mobile-menu-box span.line {
    display: block;
    border-top: 2px solid white;
    margin: 6px 3px 0;
}

div#header div#mobile-menu-box:hover {
	cursor: pointer;
	opacity:.5;
}

div#header div#mobile-menu div#menu-title {
    border-bottom: 1px solid white;
    width: 110%;
    left: -10%;
    position: relative;
    text-align: center;
}

div#header div#mobile-menu-list.expanded {
	display: block;
}

div#header div#mobile-menu-list.expanded div#mobile-list-container {
    position: fixed;
    height: 100%;
    top: 0;
    left: -40%;
    padding-left:10%;
    background: rgba(0, 0, 0, 0.8);
    z-index:10;
    padding: 75px 10%;
}

div#header div#mobile-menu-list.expanded #close {
    position: fixed;
    font-size: 2em;
    z-index: 100;
    color:black;
    left: 0;
    border-radius: 100%;
    height: 70px;
    width: 60px;
    text-align: center;
    background: #fff;
    top: 0;
}

div#mobile-menu-list.expanded  div#mobile-list-container.trans,  div#mobile-list-container.trans #close.trans {
  -webkit-transition: all .3s;
  -moz-transition: all .3s;
  -o-transition: all .3s;
  -ms-transition: all .3s;
  transition: all .3s;
  transition-timing-function: cubic-bezier(0.4, 0.6, 0.8, 0.7); 
}


div#header div#mobile-menu-list.expanded div#mobile-list-container.trans {
    left:0;
}

.spin {
    -webkit-transform:rotate(720deg);
    -moz-transform:rotate(720deg); 
    -o-transform:rotate(720deg);
    transform:rotate(720deg);
}

div#the-guts {
    padding: 15px 5%;
}

div#the-guts h2 {
	color:white;
}

div#the-guts .item {
	background: #eee;
	color: #333;
	padding: 5px 10px;
	margin-bottom:20px;
	-webkit-box-shadow: 0px 5px 15px 3px #333;
    -moz-box-shadow: 0px 5px 15px 3px #333;
    box-shadow: 0px 5px 15px 3px #333;
    box-shadow: 0px 5px 15px 3px #333;
    position: relative;
    font-size:.7em;
    color:#555;
}

div#the-guts .active {
    transition:transform 1s;
    transform: scaleX(1.05);
}

div#the-guts .active .item {
    font-size:1em;
    background:white;
    color:black;
}

div#the-guts .swiper-button-next, .swiper-button-prev {
    display: none;
 }

div#the-guts .swiper-pagination.swiper-pagination-fraction {
    top: 10px;
    position: relative;
    height: 45px;
}

div#the-guts div#project-container {
    background: #e9e9e9;
    border: 1px solid #333;
    border-radius: 5px;
    opacity: 1;
}

div#the-guts div#project-container .img-wrap {
	overflow:hidden;
	height:75%;
}

div#the-guts div#project-container .img-wrap img{
    width:100%;
    height: 90%;
    max-width:90%;
    padding-left:10%;
}

div#the-guts div#project-container .project .title, div#the-guts div#project-container .project .desc {
	padding: 5px;
}

div#the-guts div#project-container .project .desc {
	height:250px;
}

div#the-guts .modal-dialog {
    transform: translate(-10px, -10px);
    width:101%;
} 

div#the-guts .modal .modal-body {
    color:black;
}

.modal-header .close {
    padding: 1rem 1rem;
    margin: -10px;
    background: #0173fe;
    color:white;
}

div#the-guts .modal-content {
    border: 1px solid black;
}

div#the-guts .modal-content .desc {
	font-size: .8em;
}

div#the-guts #project-container .btn-container {
    background: #555;
    background: linear-gradient(94deg, rgba(51,51,51,1) 1%, rgba(85,85,85,1) 100%);
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    padding: 0 10px;
    border-top: 1px solid black;
    color: white;
    min-height: 115px;
    font-size:.8em;
}

div#the-guts #project-container .project.title {
    text-align: center;
    border-bottom: 1px solid #333;
    margin-bottom: 5px;
}

div#the-guts #project-container .project .visible {
    text-align: center;
    margin: 10px;
}

div#the-guts #modal span#close {
    z-index: 1;
    position: relative;
    padding: 3px;
    background: #0173fe;
    color: white;
    left: -3px;
    border-radius: 20%;
    float: right;
    height: 20px;
    width:20px;
    text-align: center;
}

div#the-guts #modal span#close:hover {
    cursor: pointer;
}

div#the-guts div.modal.visible {
    display: block;
    opacity: 1;
    overflow-y: scroll;
    margin:0;
}

div#the-guts .modal .footer-btn-wrap {
    text-align: center;
    width:100%;
}

div#the-guts .modal .footer-btn-wrap button {
    margin: 0 5px;
}

div#the-guts .modal .modal-header {
    background: #eee;
    color:black;
}
div#the-guts .modal .img-wrap {
    overflow: hidden;
    text-align: center;
    min-height: 150px;
    margin:0 20%;
}

div#the-guts .modal-footer {
	justify-content: center;
}

div#the-guts .modal .skills-wrap {
    display: flex;
    flex-flow: wrap;
    justify-content: center;
    border-bottom:1px solid #333;
    width:100%;
}

div#the-guts .modal .skills-wrap span {
    background: #555;
    border-radius: 20px;
    margin: 5px;
    padding: 5px 7px;
    color: white;
    font-size: .7em;
}

div#the-guts .modal .img-wrap {
      background-repeat: no-repeat;
    background-size: cover;
}

div#the-guts .modal .img-wrap.millwood {
    background-image: url('https://digitalkdogg.github.io/src/includes/img/millwood.png');
}

div#the-guts .modal .img-wrap.checkbook {
    background-image: url('https://digitalkdogg.github.io/src/includes/img/checkbook_scaled.png');
}

div#the-guts .modal .img-wrap.olympic {
    background-image: url('https://digitalkdogg.github.io/src/includes/img/olympic_inspection.png');
}

div#the-guts .modal .img-wrap.checkboxme {
    background-image: url('https://digitalkdogg.github.io/src/includes/img/checkboxme.png');
}

div#the-guts .modal .img-wrap.millwoodadmin {
    background-image: url('https://digitalkdogg.github.io/src/includes/img/millwood_admin.png');
}

div#the-guts .modal .img-wrap.plexmanager {
    background-image: url('https://digitalkdogg.github.io/src/includes/img/plex_admin.png');
}

div#the-guts .modal .img-wrap.resumeadmin {
    background-image: url('https://digitalkdogg.github.io/src/includes/img/resume_admin.png');
}

div#the-guts div#project-container div.title {
	border-bottom: 3px solid #999;
	font-weight: bold;
	text-align:center;
}

div#the-guts div#skills-container {
	text-align:center;
}

div#the-guts div#skills {
    width: 100%;
    background: #555;
    background: linear-gradient(94deg, rgba(51,51,51,1) 1%, rgba(85,85,85,1) 100%);
    height: auto;
    color: #fff;
    text-align: left;
    border: 1px solid black;
    margin: 5px 0;
    padding: 5px;
    border-radius:5px;
}

div#the-guts div#skills h2 {
	border-bottom:1px solid #fff;
}


div#footer {
    padding: 0 10px;
    font-size: .8em;
}


@media only screen and (min-width: 800px) {
	div#header.init div#desktop-menu {
		display:block;
		padding: 15px;
	}

	div#header.init div#desktop-menu div#menu-item {
		padding-left: 2px;
	}

	div#header div#desktop-menu div#menu-item:hover {
		cursor: pointer;
		box-shadow: -5px 0px 0px 0px #fee201;
		color: #fee201;
	}

	div#header.scrolled div#desktop-menu {
		display:none;
	}

	div#header.init div#mobile-menu {
		display:none;
	}

	div#header.scrolled div#mobile-menu {
		display:block;
	}

	div#header.scrolled div#mobile-menu div#menu-item:hover {
		color: #fee201;
		cursor: pointer;
		box-shadow: -5px 0px 0px 0px #fee201;
	}

	div#header {
		background-size: contain;
	}

	div#header div#title-container {
    	width: 50%;
    	float: right;
    	border-bottom-right-radius: 10px;
		right: 25%;
		position: relative;;
	}

	div#header.scrolled div#title-container {
		width: 65%;
	}
	
	div#header div#text-container {
		font-size:1em;
		line-height: 1.2;
	}

	div#header.init div#icon-container {
		width: 55%;
		float: right;
        right:20%;
	}

	div#header.init div#float-container {
    	right: unset;
    	position: relative;
    	margin-top: -10px;
	}

	div#header.scrolled div#float-container {
		margin-top:-5px;
		font-size: 1.5em;
	}

	div#the-guts .modal-dialog {
		max-width: 80%;
	}

	div#the-guts div#project-container .project .desc {
		height: unset;
	}

	div#the-guts div#project-container div.img-wrap {
		height:200px;
	}

	div#the-guts div#project-container div.img-wrap img {
		height:100%;
		opacity:0.7;
	}

	div#the-guts .swiper-container-autoheight .swiper-slide {
    	height: 400px;
	}

	div#the-guts .swiper-button-next, .swiper-button-prev {
    	display: block; 
	}

	div#the-guts .swiper-pagination.swiper-pagination-fraction {
		display:none;
	}

}

@media only screen and (min-width: 1024px) {
	div#header div#title-container {
		width: 45%;
		float:right;
		right: 25%;    
        border-bottom-right-radius: 10px;
	}

	div#the-guts div#skills-container {
		display: flex;
	}

	div#the-guts div#skills-container div#skills {
		margin: 5px;
		background: linear-gradient(180deg, rgba(51,51,51,1) 1%, rgba(85,85,85,1) 100%);
	}

	div#the-guts div#project-container div.img-wrap {
		height:200px;
	}

	div#the-guts div#project-container div.img-wrap img {
		height:100%;
		opacity:0.7;
	}

	div#the-guts .swiper-button-next, div#the-guts .swiper-button-prev {
    	display: block;
	}
}



@keyframes rotating
    {
    from
        {
        transform: rotate(0deg);
        -o-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        }
    to
        {
        transform: rotate(360deg);
        -o-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
        }
    }