#the-guts #top-skills {
	width:unset;
	background:rgba(231,231,231,.5);
	background: linear-gradient(150deg, rgba(22,58,87,0.6) 0%, rgba(22, 58, 87, 1) 60%, rgba(22,58, 87, 1));
	color:white;
	overflow:hidden;
}

#the-guts #top-skills .icon-wrap {
	flex:2;
	position: absolute;
	opacity:.2;
	align-items: center;
	flex-flow: nowrap;
	flex-wrap: nowrap;
	font-size:2em;
}

#the-guts #top-skills .icon-wrap i {
	z-index:-1;
	position: relative;
	color:#999;
    margin: 15px 2vw;
    transform: translateY(-40px);
}

#the-guts #top-skills .details-wrap li {
	text-align:left;
	padding: 0px 0 0px 20px;
    text-indent: -26px;
    margin: 0 10px;
}

#the-guts #top-skills h3 {
	margin:0;
}

#the-guts #top-skills hr {
	margin:10px 0 20px 0;
}

#the-guts #skills .block li {
    margin: 0 15px;
}

@media only screen and (min-width: 1055px) {
    #the-guts #top-skills .icon-wrap {
        position: static;
        text-align:left;
		opacity:0.3;
		font-size:1.1em;
    }

    #the-guts #top-skills .icon-wrap i {
		font-size:1.2em;
		margin:12px 1vw;
		display: inline-block !important;
        color:white;
        font-size:1.4em;
        transform:translateY(0);
	}
}