#the-guts #top-skills {
	width:unset;
	background:rgba(231,231,231,.5);
	background: linear-gradient(150deg, rgba(22,58,87,0.5) 0%, rgba(22, 58, 87, .7) 30%, rgba(22,58,87,1) 65%, rgba(22,58, 87, 1));
	color:white;
	overflow:hidden;
}

#the-guts #top-skills .icon-wrap {
	flex:2;
	position: absolute;
	opacity:.2;
	align-items: center;
	flex-flow: nowrap;
	flex-wrap: nowrap;
	font-size:2em;
}

#the-guts #top-skills .icon-wrap i {
	z-index:-1;
	position: relative;
	color: rgba(255, 255, 255, .5);
    margin: 15px 2vw;
	transform: translateY(-40px);
	/*filter: drop-shadow(2px 4px 6px black); */
}


#the-guts #top-skills .icon-wrap .row.one i:nth-child(1) {
	animation-delay: 0s; 
}	

#the-guts #top-skills .icon-wrap .row.one i:nth-child(2) {
	animation-delay: 10s; 
}	

#the-guts #top-skills .icon-wrap .row.one i:nth-child(3) {
	animation-delay: 20s; 
}	

#the-guts #top-skills .icon-wrap .row.one i:nth-child(4) {
	animation-delay: 30s; 
}	

#the-guts #top-skills .icon-wrap .row.one i:nth-child(5) {
	animation-delay: 40s; 
}	

#the-guts #top-skills .icon-wrap .row.one i:nth-child(6) {
	animation-delay: 50s; 
}	

#the-guts #top-skills .icon-wrap .row.one i:nth-child(7) {
	animation-delay: 60s; 
}

#the-guts #top-skills .icon-wrap .row.two i:nth-child(1) {
	animation-delay: 70s; 
}	

#the-guts #top-skills .icon-wrap .row.two i:nth-child(2) {
	animation-delay: 80s; 
}

#the-guts #top-skills .icon-wrap .row.two i:nth-child(3) {
	animation-delay: 90s; 
}

#the-guts #top-skills .icon-wrap .row.two i:nth-child(4) {
	animation-delay: 100s; 
}

#the-guts #top-skills .icon-wrap .row.two i:nth-child(5) {
	animation-delay: 110s; 
}

#the-guts #top-skills .icon-wrap .row.two i:nth-child(6) {
	animation-delay: 120s; 
}

#the-guts #top-skills .icon-wrap .row.three i:nth-child(1) {
	animation-delay: 130s; 
}	

#the-guts #top-skills .icon-wrap .row.three i:nth-child(2) {
	animation-delay: 140s; 
}

#the-guts #top-skills .icon-wrap .row.three i:nth-child(3) {
	animation-delay: 150s; 
}

#the-guts #top-skills .icon-wrap .row.three i:nth-child(4) {
	animation-delay: 160s; 
}

#the-guts #top-skills .icon-wrap .row.four i:nth-child(1) {
	animation-delay: 170s; 
}	

#the-guts #top-skills .icon-wrap .row.four i:nth-child(2) {
	animation-delay: 180s; 
}

#the-guts #top-skills .icon-wrap .row.four i:nth-child(3) {
	animation-delay: 190s; 
}



#the-guts #top-skills .details-wrap li {
	text-align:left;
	padding: 0px 0 0px 20px;
    text-indent: -26px;
    margin: 0 10px;
}

#the-guts #top-skills h3 {
	margin:0;
}

#the-guts #top-skills hr {
	margin:10px 0 20px 0;
}

#the-guts #skills .block li {
    margin: 0 15px;
}

@media only screen and (min-width: 1055px) {
    #the-guts #top-skills .icon-wrap {
        position: static;
        text-align:left;
		opacity:0.3;
		font-size:1.1em;
    }

    #the-guts #top-skills .icon-wrap i {
		font-size:1.2em;
		margin:12px 1vw;
        font-size:1.4em;
		transform:translateY(0);
		color: rgba(255, 255, 255, .9);
		animation: highlight-green 10s linear 1;
	}

	#the-guts #top-skills .icon-wrap .row i:nth-child(7) {
		opacity: .7;
	}
	
	#the-guts #top-skills .icon-wrap .row i:nth-child(6) {
		opacity: .3;
	}
	
	#the-guts #top-skills .icon-wrap .row i:nth-child(5) {
		opacity:.4;
	}
	
	#the-guts #top-skills .icon-wrap .row i:nth-child(4) {
		opacity:.5;
	}
	
	#the-guts #top-skills .icon-wrap .row i:nth-child(3) {
		opacity:.7;
	}
}